@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box !important;
  font-family: "Poppins", sans-serif;
}

body {
  background: #eee;
}

.fundo-home {
  height: 55rem;
}

@media (max-width: 1920px) {
  .fundo-home {
    height: 36rem;
  }
}
